// Tablet Landscape
@media only screen and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	#mbrtWrap{
		.innerWrap{
			#aireData{
				position: relative;
				width: 100%;
				height: 425px;

				.innerHead{
					width: 100%;
					height: 100%;
					top: 0;
					padding-right: 0;

					.logo{
						position: absolute;
						top: 174px;
						right: 71%;
					}

					.introduction, .contact{
						position: absolute;
						top: 265px;
						width: 22%;
					}

					.introduction{
						left: 34%;
					}

					.contact{
						left: 68%;
					}
				}
			}

			#grid{
				position: relative;
				width: 100%;
				left: 0;
			}
		}
	}
}


// Tablet Portrait
@media only screen and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){}


// Phones
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
	
}


// Phones Landscape
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){}


// Phones Portrait
@media only screen and (max-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){}