@import 'mixins';

// MANDELBROT Boilerplate style
	
	// Variables

	*{
		font-family: 'Libre Baskerville', serif;
		color: #808083;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.tester{
		width: 209px;
		height: 24.5px;
		top: 752px;
		left: 72px;

		position: absolute;
		border: 1px solid red;
		box-sizing: border-box;
		z-index: 1000;
	}

	#mbrtWrap{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;

		.innerWrap{
			position: absolute;
			width: 100%;
			max-width: 1280px;
			height: 100%;
			margin: auto;
			left: 0; right: 0;

			// Header
			#aireData{
				position: fixed;
				width: 24.76%;
				height: 100%;
				float: left;
				font-size: 9px;
				@include fixBox();

				.innerHead{
					position: absolute;
					width: 77.53%;
					// height: 430px;
					right: 0;
					top: 30%;
					padding-right: 30px;
					@include fixBox();

					p, h1{
						margin: 0;
					}

					.logo{
						position: relative;
						width: 138px;
						height: 16px;
						margin-bottom: 115px;
						@include transitions(all, 0.8s, ease-in-out);

						img{
							width: 100%;
						}
					}

					.introduction{
						position: relative;
						width: 90%;
						max-width: 200px;
						// height: 112px;
						margin-bottom: 55px;
						letter-spacing: 1.5px;
						line-height: 2em;
						@include transitions(all, 0.8s, ease-in-out);
					}

					.contact{
						position: relative;
						width: 90%;
						max-width: 200px;
						// height: 102px;
						letter-spacing: 1px;
						@include transitions(all, 0.8s, ease-in-out);

						h1{
							font-family: sans-serif;
							letter-spacing: 5px;
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 500;
							margin-bottom: 18px;
							@include transitions(all, 0.8s, ease-in-out);
						}

						.design-line{
							margin-bottom: 18px;
							@include transitions(all, 0.8s, ease-in-out);
						}

						.data{
							line-height: 1.7em;

							.tel{
								letter-spacing: 1.5px;
								margin-left: -34px;
								@include keepWordsInLine();
								@include transitions(all, 0.8s, ease-in-out);
							}
							.city{
								@include transitions(all, 0.8s, ease-in-out);
							}
						}
					}
				}
			}

			// Section
			#grid{
				position: relative;
				width: 75.24%;
				float: right;

				.cell-3{
					width: 32.43%;
				}
				.space-2{
					width: 1.35%;
				}

				div{
					position: relative;
					float: left;
					@include fixBox();
					@include transitions(all, 0.8s, ease-in-out);
					
					img{
						width: 100%;
					}
				}
			}

			a{
				display: block;
				text-align: left;
				text-decoration: none;
				color: #808083;

				@include transitions(all, 0.8s, ease-in-out);

				&:hover{
					color: #000;
				}
			}
		}
	}


	// Grid System
	@import 'grid';

	// Responsiveness
	@import 'responsive';

	// Animations
	@import 'animation';

	

// END MANDELBROT style